---
import footerIcons from '../images/Footer/icons.js';
import Image from "astro/components/Image.astro"
---
<footer class="rodape">
    <h2 class="rodape__titulo">Grupo Alura</h2>
    {footerIcons.map(col => (
        <ul class="lista-rodape">
            <li class="lista-rodape__titulo">{col.col_title}</li>
            {col.items.map(partner => (
                <li class="lista-rodape__item">
                    <Image src={partner.logo} alt=`Ãcone {$partner.name}` />
                    <a href="#" class="lista-rodape__link">{partner.name}</a>
                </li>
            ))}
            
    </ul>
    ))}
    

</footer>
