<section class="topicos">
    <h2 class="topicos__titulo">TÓPICOS VISITADOS RECENTEMENTE</h2>
    <ul class="topicos__lista">
        <li class="topicos__item">
            <a href="#" class="topicos__link">Android</a>
        </li>
        <li class="topicos__item">
            <a href="#" class="topicos__link">Marketing Digital</a>
        </li>
        <li class="topicos__item">
            <a href="#" class="topicos__link">Agile</a>
        </li>
        <li class="topicos__item">
            <a href="#" class="topicos__link">Startups</a>
        </li>
        <li class="topicos__item">
            <a href="#" class="topicos__link">HTML & CSS</a>
        </li>
        <li class="topicos__item">
            <a href="#" class="topicos__link">Python</a>
        </li>
        <li class="topicos__item">
            <a href="#" class="topicos__link">OO</a>
        </li>
        <li class="topicos__item">
            <a href="#" class="topicos__link">Java</a>
        </li>
    </ul>
</section>